http://hello.localhost {
    handle_path /static/* {
        root * /staticfiles
        file_server browse
    }

    handle_path /media/* {
        root * /usr/src/app/media
        file_server
    }

    handle {
        root * /usr/src/app/
        reverse_proxy django:8000
    }
}



http://personal.localhost {

    handle_path /api/* {
        reverse_proxy personal_home_back:5000
    }
    
    handle {
        reverse_proxy personal_home_front:3000
    }
}

http://webmail.localhost {
    reverse_proxy mailhog:8025
}

